.home{
    color: #0E0E0E;
    position:absolute;
    top:100vh;
    width: 100%;
    /*border: 2px solid rgb(78, 249, 5);*/
    z-index: 100;
    display: flex;
    justify-content: center;

}

.home-wrapper{
    width: 91%;          
    position: relative;
    height: 100%;
    /*border: 2px solid rgb(249, 5, 58);*/

}

/*************************************************

Home description

**************************************************/
.home-description{
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 660px;
}

.img-shadow1{
    position: absolute;
    top: 0px;
    right: -40px;
    z-index: -2;
    opacity: 0.8;
    width: 150px;
    height: 200px;
}

.img-shadow1 img{
    width: 100%;
    height: 100%;
}

.img-shadow2{
    position: absolute;
    bottom: -80px;
    z-index: -2;
    opacity: 0.8;
    width: 150px;
    height: 200px;
}

.img-shadow2 img{
    width: 100%;
    height: 100%;
}

.img-shadow-hide1{
    display: none;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    width: 150px;
    height: 200px;
}

.img-shadow-hide1 img{
    width: 100%;
    height: 100%;
}

.home-description-text{
    letter-spacing: 0em;
    text-align: left;
    width: 64%;
    height: 70%;
}

.home-title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.home-sub-title{
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

.home-descrition-info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 100;
}

.home-description-pic{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 28%;
    height: 70%;
}

.home-description-pic img{
    width: 267px;
    height: 411px;
}

.line{
    width: 100%;
}

.line img{
    width: 100%;
    height: 93px;
}

.sepatator{
    position: relative;
    width: 100%;
}

/****************************************

CARD

****************************************/

.home-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home-card-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-title i{
    font-family: Alatsi;
    font-size: 144px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #A954D0;
}

.card-title-text{
    margin-left: 10px;
    text-transform: uppercase;
    width: 720px;
}

.card-title-text div{
    font-family: 'Alatsi';
    position: relative;
    top: 15px;
    font-size: 44px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}

.card-title-text p{
    position: relative;
    top: -5px;
    font-family: 'Alatsi';
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.card-items{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid yellow;*/
    width: 100%;
}

.card-item{
    position: relative;
    height: 320px;
    width: 30%; 
    border-radius: 26px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}

.card-item i{
    position: absolute;
    top: -31px;
    font-family: Alatsi;
    font-size: 144px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #F3BA4B;
}

.card-item p{
    width: 83%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    top:50px;
}

@media screen and (max-width:1000px){
    .home-title{
        font-size: 36px;
        line-height: 46px;
    }

    .home-sub-title{
        font-size: 22px;
        line-height: 36px;
    }

    .home-description-pic img{
        width: 245px;
        height: 377px;
    }

    .home-description-pic{
        align-items: center;
    }

    .img-shadow1{
        top:50px;
    }

    .card-item p{
        font-size: 14px;
    }

    .card-title-text i{
        font-size: 144px;
        font-weight: 400;
        line-height: 56px;
    }

    .card-title-text p{
        font-size: 25px;
        line-height: 28px;
    }

    .card-title-text div{
        font-size: 41px;
        line-height: 60px;
    }
}

@media screen and (max-width:890px) {
    .home-description{
        flex-direction: column;
        height: 140%;
        flex-direction: column-reverse;
    }
    
    .home-description-text{
        width: 92%;
        height: 56%;
    }

    .home-title{
        font-size: 30px;
        line-height: 40px;
    }

    .home-sub-title{
        font-size: 18px;
        line-height: 30px;
    }

    .home-descrition-info{
        font-size: 16px;
    }

    .home-description-pic{
        width: 100%;
        justify-content: center;
        margin: 100px 0;
    }

    .home-description-pic img{
        width: 312px;
        height: 420px;
    }

    .img-shadow1{
        top: 0px;
        right: 0px;
        opacity: 1;
    }

    .img-shadow-hide1{
        position: absolute;
        display: block;
        top: 400px;
        left: 20px;
    }

    .sepatator{
        width: 100%;
        top:50px;
    }

    .img-shadow2{
        top: 0px;
        right: 0px;
        opacity: 1;
    }

    .card-item i{
        /*top: -31px;*/
        font-size: 144px;
        font-weight: 400;
        line-height: 56px;
    }

    .card-title{
        /*flex-direction: column;*/
    }

    .card-title i{
        /*top: -31px;*/
        left: 0;

        font-size: 144px;
        font-weight: 400;
        line-height: 56px;
    }

    .card-title-text p{
        font-size: 25px;
        line-height: 28px;
    }

    .card-title-text div{
        font-size: 41px;
        line-height: 60px;
    }
}

@media screen and (max-width:500px) {
    .home-description-pic{
        width: 100%;
        justify-content: center;
        margin: 50px 0;
    }

    .home-description-pic img{
        width: 223px;
        height: 343px;
    }

    .home-title{
        font-size: 16px;
        line-height: 20px;
    }

    .home-sub-title{
        font-size: 12px;
        line-height: 30px;
    }

    .home-descrition-info{
        font-size: 10px;
    }

    .img-shadow1{
        top: 0px;
        right: -50px;
        opacity: 1;
    }

    .img-shadow-hide1{
        position: absolute;
        display: block;
        top: 300px;
        left: -20px;
    }

    .line img{
        height: 73px;
    }
}