body{
    font-family: 'Alatsi', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Signika', sans-serif;
    margin: 0;
    padding: 0;
}